@{
    ViewBag.Title = "Kontakt";
}
<h2>Kontakt</h2>

<p>
    <h4>Diese Software wurde erstellt von:</h4>
</p>

<div class="row">
    <div class="col-md-4">
        <h2>Klaus Eggers</h2>
        <p>
            <strong>MatrNr:</strong>   570045</br>
            <strong>Fachrichtung:</strong>   Angewandte Informatik</br>
            <strong>Mail:</strong>   <a href="klaus.eggers@stud.fh-flensburg.de">klaus.eggers@stud.fh-flensburg.de</a><br />
        </p>
    </div>


    <div class="col-md-4">
        <h2>Tim Gabriel</h2>
        <p>
            <strong>MatrNr:</strong>   570044</br>
            <strong>Fachrichtung:</strong>   Angewandte Informatik</br>
            <strong>Mail:</strong>   <a href="tim.gabriel@stud.fh-flensburg.de">tim.gabriel@stud.fh-flensburg.de</a><br />
        </p>
    </div>


    <div class="col-md-4">
        <h2>Björn Wilke</h2>
        <p>
            <strong>MatrNr:</strong>   570523</br>
            <strong>Fachrichtung:</strong>   Angewandte Informatik</br>
            <strong>Mail:</strong>   <a href="bjoern.wilke@stud.fh-flensburg.de">bjoern.wilke@stud.fh-flensburg.de</a><br />
        </p>
    </div>
</div>
</br></br>
<h4>Für:</h4>
<div class="row">
    <div class="col-md-12">
        <h2>Hochschule Flensburg</h2>
        <p>
            <strong>Fach:</strong>   Verteilte Systeme / Verteilte Webanwendungen und Webservices</br>
            <strong>Semester:</strong>   5.</br>
            <strong>Zeitraum:</strong>   Wintersemester 16/17</br>
            <strong>Dozent:</strong>   Benjamin Schulz</br>
            <strong>Mail:</strong>   <a href="benjamin.schulz@hs-flensburg.de">benjamin.schulz@hs-flensburg.de</a><br />
        </p>
    </div>
</div>