@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mosaikgenerator</h1>
    <p class="lead">Entwickelt für Verteilte Systeme im SS 2016</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Wie fange ich an?</h2>
        <p>
            Wir haben eine kleine Anleitung für all diejenigen erstellt die gerne ein Mosaikbild generieren möchten.</br></br>
            Gerade wenn die einzelnen Begriffe nicht deutlich geworden sind lohnt es sich einen Blick zu ergattern.
        </p>
        <p><a href="@Url.Action("About", "Home")" class="btn btn-default">Hier gehts zur Anleitung &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Wer hat diese Software entwickelt?</h2>
        <p>
            Wer diese Software/Website und wofür entwickelt hat, wollen wir euch natürlich nicht verbergen.</br></br>
            Hierfür haben wir eine kleine Informationsseite eingerichtet die du mit dem folgenden Button erreichen kannst.
        </p>
        <p><a href="@Url.Action("Contact", "Home")" class="btn btn-default">Entwickler &raquo;</a></p>
    </div>
</div>