@model Datenbank.DAL.Pools

@{
    ViewBag.Title = "Delete";
}

<h2>Lösche: @Html.Raw(Model.name)</h2>

<h3>Bist du dir sicher dass du die Sammlung löschen möchtest?</h3>
<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Löschen" class="btn btn-danger" />
            @if (ViewBag.isKachelPool)
                {
                <a href="@Url.Action("Kacheln", "Pools")" class="btn btn-warning">
                    Zurück zur Sammlung
                </a>
            }
            else
            {
                <a href="@Url.Action("Bildersammlungen", "Pools")" class="btn btn-warning">
                    Zurück zur Sammlung
                </a>
            }
        </div>
    }
</div>
