@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Bildersammlungen", "Bildersammlungen", "Pools")</li>
            <li>@Html.ActionLink("Kachelsammlungen", "Kacheln", "Pools")</li>
        </ul>
}



